<section id='excerpt' class='relative py-20'>
  <div
    class="absolute inset-0 bg-[url('https://images.unsplash.com/photo-1542273917363-3b1817f69a2d')] bg-cover bg-fixed opacity-20"
  >
  </div>
  <div class='relative container mx-auto px-4'>
    <div class='max-w-3xl mx-auto bg-[#131a16]/90 p-8 rounded-lg backdrop-blur-sm'>
      <h3 class='text-3xl font-serif text-center'>Przeczytaj fragment</h3>
      <div class='flex flex-col md:flex-row pt-12 px-4 gap-12 items-center'>
        <div>
          <p class='text-lg leading-relaxed text-gray-300 italic'>
            Kim jestem? Doskonale wiedziałam, kim jestem. Zwykłą dwudziestopięcioletnią kobietą, która kocha bujać w
            obłokach. Co rano wstawałam do pracy w starej księgarni z antykami i tłumaczyłam spisane kilkaset lat temu
            teksty, tak jakby miały się one komukolwiek jeszcze do czegoś przysłużyć. Później chodziłam na długie
            spacery po lasach i słuchałam szumu liści, wyobrażając sobie historie nieznanych ludzi. Wieczorem
            uwielbiałam w towarzystwie lampki czerwonego wina zatopić się w lekturze banalnego romansu.
          </p>
          <p class='text-lg leading-relaxed text-gray-300 italic'>
            W mojej głowie znów rozległ się krótki, męski chichot. Zarumieniłam się. Ten głupi amulet zaczynał działać
            mi na nerwy.
          </p>
          <p class='text-lg leading-relaxed text-gray-300 italic'>
            – Jesteś kimś o wiele więcej, Zoryo. Jesteś łowczynią.
          </p>
        </div>
        <div>
          <img src='/images/cover.webp' class='object-cover w-full min-w-[200px] h-full' />
        </div>
      </div>
      <a
        href='https://www.empik.com/wezwana-skradzione-szepty-tom-1-k-t-writz,p1624945913,ksiazka-p'
        target='_blank'
        class='mt-8 border-2 border-emerald-400 text-emerald-400 px-6 py-3 rounded-full hover:bg-emerald-400 hover:text-black transition-colors mx-auto block w-fit'
      >
        Zamów w przedsprzedaży
      </a>
    </div>
  </div>
</section>
