---
import type { CallToAction } from '~/types';

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface MenuLink extends Link {
  links?: Array<MenuLink>;
}

export interface Props {
  id?: string;
  links?: Array<MenuLink>;
  actions?: Array<CallToAction>;
  isSticky?: boolean;
  isDark?: boolean;
  isFullWidth?: boolean;
  showToggleTheme?: boolean;
  showRssFeed?: boolean;
  position?: string;
}
---

<nav class={`fixed w-full z-50 transition-all duration-300 bg-[#0a0f0d]/90 backdrop-blur-sm`}>
  <div class='container mx-auto px-4 py-4 flex justify-between items-center'>
    <h1 class='text-2xl font-serif tracking-wider !text-white'>Skradzione szepty</h1>
    <div class='hidden md:flex space-x-8'>
      <a href='#about' class='hover:text-emerald-400 transition-colors !text-white'>Poznaj historię</a>
      <a href='#excerpt' class='hover:text-emerald-400 transition-colors !text-white'>Przeczytaj fragment</a>
      <a href='#author' class='hover:text-emerald-400 transition-colors !text-white'>O autorce</a>
    </div>
  </div>
</nav>
